.userImg {
  border-radius: 100px;
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

a {
  color: steelblue !important;
  cursor: pointer;
}

.fixed-right {
  right: 0;
  position: absolute;
}

.margin-top {
  margin-top: 10vh;
}

.red {
  color: red !important;
}
